@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*como colocar una fuente descargada*/
/*@font-face{
    font-family: 'Noto Sans', sans-serif;
    src: url(../assets/font/Noto_Sans\ \(1\)/)
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', cursive;
    font-family: 'Noto Sans', sans-serif;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    
}

.header{
    height: 100vh;
}

.headerNav{
    background-color: rgb(53, 58, 64);
    height: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5rem;
    
}
.contenedorLogo{
    display:flex;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
}
.contenedorLogo a{
    display: inline-block;
    width: 40%;
}
.contenedorLogo img{
    width: 95%;
    object-fit: cover;
}
.contenedorLogo h2{
    color: white;
    font-weight: 300;
}
.navegacion{
    display:flex;
    width: 55%;
    align-items: center;
    justify-content: center;

}
.listaNav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.linkNav{
    text-decoration: none;
    color:rgb(215, 210, 210);
    font-size:1.1rem;
    
    /*padding-left:1rem;*/
}
.linkNav1{
    color: white;
    font-size:1.1rem;
    text-decoration: none;
}

.linkNav5{
    color: green;
    font-size:1.2rem;
    text-decoration: none;
}




.laConferencia{
    height: 85%;
    background: linear-gradient(to bottom, #00000026, #000000c2,#00000026), url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.textoConferencia{
    width: 40%;
    color:white;
    text-align: right;
    flex-direction: column;
    justify-content:space-between;
}

.tituloParrafo {
    font-size: 2rem;
}

.parrafoConferencia{
    font-weight: 700;
    line-height: 2;
    font-size: 30px;/*los px son unidades de medidas absolutas, que son fijos*/
    font-size:1rem; /*1rem = 16px fuente recomendada, fuente grande 1rem = 20px, fuente muy pequeña 1rem =9px. el rem es una unidad relativa, relativa al tamaño de fuente que tiene configurado el html, quien lo configura, el user en primera instancia, y nosotros desde el css*/
    font-weight: 300;
}
.Conviertete{
    color: white;
    border: 1px solid #e7e8ea;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}
.tickets{
    color: white;
    padding: 10px;
    background-color: green;
    text-decoration: none;
    border-radius: 4px;
    
}


.sectionOradores{
    height: 85vh;
    margin-bottom: 3rem;
}
.tituloRadores{
    text-align: center;

}


.padreCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 75%;
    margin:0 auto;
    text-align: center;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
    column-gap: 4%;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
}
.card{
    height:100%;
    width: 30%;
    border: 1px solid rgb(204, 203, 203);
    margin-left:15px;
    border-radius: 5px;
    text-align: left;
    border-radius: 2%;
    
}
.card img{
    height:55%;
    width: 100%;
    object-fit: cover;
    border-radius: 2% 2% 0px 0px;
    
}
.cardBody{
    width: 100%;
    padding:10px;
    padding-top: 1rem;
}
.colores{
    display: inline-block;
    
}
.tituloJava{
    font-size: small;
    display:inline-block;
    color: black;
    padding: 5px;
    background-color: orange;
    text-decoration: none;
    border-radius: 4px;
}
.tituloReact{
    font-size: small;
    display:inline-block;
    color: white;
    padding: 5px;
    background-color: rgb(92, 187, 209);
    text-decoration: none;
    border-radius: 4px;
}
.tituloNegocios{
    font-size: small;
    display:inline-block;
    color: white;
    padding: 5px;
    background-color: gray;
    text-decoration: none;
    border-radius: 4px;
}
.tituloStartups{
    font-size: small;
    display:inline-block;
    color: white;
    padding: 5px;
    background-color: rgb(199, 11, 11);
    text-decoration: none;
    border-radius: 4px;
}
.nombreCard{
    padding-bottom: 1rem;
}
.infoCard{
    line-height: 1.2;
}


.lugarFecha{
    display: flex;
    height: 60vh;
    position:relative;
    
    
}
.left{
    width: 50%;
    height: 100%;
    display: inline;
    border:1px solid white;
    background-image: url("../assets/img/honolulu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    left:0;
}
.right{
    display: inline;
    width: 50%;
    height: 100%;
    background-color: rgb(70, 65, 65);
    color:white;
    position:absolute;
    top:0;
    right:0;
    padding: 1rem;
}
.tituloLugar {
    font-size: 2rem;
}
.info{
    font-weight: 700;
    line-height: 2;
    font-size: 30px;/*los px son unidades de medidas absolutas, que son fijos*/
    font-size:1rem; /*1rem = 16px fuente recomendada, fuente grande 1rem = 20px, fuente muy pequeña 1rem =9px. el rem es una unidad relativa, relativa al tamaño de fuente que tiene configurado el html, quien lo configura, el user en primera instancia, y nosotros desde el css*/
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ConoceMas{
    color: white;
    border: 1px solid #e7e8ea;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    
}



.convierteteEnOrador{
    padding-top: 1rem;
    height: 57vh;
    width: 50%;
    margin-bottom: 3rem;
    margin: auto;
}
.tituloForm{
    width: 100%;
    text-align: center;
    padding-bottom: 0%;
}

.parrafoForm{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.puntitos{
    text-decoration: underline dotted;
}
.contenedorForm{
    width: 100%;
    text-align: center;
}
.colores{
    display: inline-block;
    
}
.datos{
    display: flex;
    padding-bottom: 1rem;
}
.datos input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    /*outline: none;*/
    
    
}
.input{
    margin-top: 2%;
    margin-bottom: 2%;
}
.input1{
    margin-right: 10px;
}
.input2{
    margin-left: 10px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}
.recorda{
    width: 100%;
    text-align: left;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}
.formSubmit{
    width: 100%;
    border: none;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(105, 199, 105);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;    
}




.footer{
    background:linear-gradient( to right, #1d3947,#1d4962, #1e5372);
    flex-wrap: wrap;
}
.contenedorFooter{
    width: 65%;
    margin: auto;
    /*height: 10vh;*/
    font-size: 1rem;
    padding-top: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
.reFooter{
    color: white;
    font-size:1.1rem;
    text-decoration: none;
    
}

/*************************************************************/

@media screen and (max-width: 567px) {
    .headerNav{
        background-color: rgb(53, 58, 64);
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: initial;
        padding: 1rem 1rem;
        width: 100%;
    }
    .contenedorLogo{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .contenedorLogo a{
        width: 30%;
    }
    .navegacion{
        width: 100%;
    }
    .listaNav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .laConferencia{
        height: 70%;
        background:url("../assets/img/ba1\ mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-right:initial;
        align-items: center;
        justify-content:center;
    }
    .textoConferencia{
        background:linear-gradient(to bottom, #00000025, #000000c2,#00000025);
        width: 100%;
        text-align: center;
    }

    .sectionOradores{
        height: auto;
        padding-top: 10px;
        
    }
    .padreCards{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5px;
        
    }
    .flex-container{
        justify-content: center;
    }
    
    .lugarFecha{
        display: inline-block;
        height: 60vh;
        width: 100%;
        position:relative;
        
    }
    
    .right{
        /*display: inline-block;*/
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #00000026, #000000c2,#00000026),url("../assets/img/honolulu\ mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color:white;
        position:absolute;
        top:0;
        right:0;
        padding: 1rem;
        line-height: 0.5;
    
    }
    
    
    .convierteteEnOrador{
        padding-top: 1rem;
        height: auto;
        width: 100%;
        margin-bottom: 3rem;
        padding: 10px 10px;
    }
    .formularioOrador{
        width: 100%;
        height: initial;
    }

    
    .contenedorFooter{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: center;
    }
    .reFooter{
        padding: 5px;
    }

}


/*************************************************************/

@media screen and (min-width: 568px) and (max-width: 767px) {
    
    .headerNav{
        background-color: rgb(53, 58, 64);
        align-content: center;
        justify-content: center;
        height: initial;
        flex-wrap: wrap;
        align-items: row;
        padding: 1rem 0.5rem;
        width: 100%;
        display: inline-flex;
    }
    .contenedorLogo{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    .contenedorLogo a{
        width: 30%;
    }
    .navegacion{
        width: 50%;
    }
    .listaNav{
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
        width: 100%;
        padding-right: 1rem;
    }


    .laConferencia{
        height: 80%;
        width: 100%;
        background:url("../assets/img/ba1\ mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-right:initial;
        align-items: center;
        justify-content:center;
        
    }
    .textoConferencia{
        background:linear-gradient(to bottom, #00000025, #000000c2,#00000025);
        width: 100%;
        text-align: center;
        
    }


    .sectionOradores{
        height: auto;
        padding-top: 10px;
        
    }
    .padreCards{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5px;
        
    }
    .flex-container{
        justify-content: center;
    }
    

    .lugarFecha{
        display: flex;
        height: 60vh;
        width: 100%;
        position:relative;
        align-items: center;
        
    }
    
    .right{
        
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #00000026, #000000c2,#00000026),url("../assets/img/honolulu\ mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color:white;
        position:absolute;
        padding: 80px 0;
        text-align: center;
        align-items: center;
    
    }
    
    
    .convierteteEnOrador{
        padding-top: 1rem;
        height: auto;
        width: 100%;
        margin-bottom: 3rem;
        padding: 10px 10px;
    }
    .formularioOrador{
        width: 100%;
        height: initial;
    }

    
    .contenedorFooter{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: center;
    }
    .reFooter{
        padding: 5px;
    }

}

/*************************************************************/

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .headerNav{
        background-color: rgb(53, 58, 64);
        align-content: center;
        justify-content: center;
        height: initial;
        flex-wrap: wrap;
        align-items: row;
        padding: 1rem 0.5rem;
        width: 100%;
        display: inline-flex;
    }
    .contenedorLogo{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    .contenedorLogo a{
        width: 37%;
    }
    .navegacion{
        width: 50%;
    }
    .listaNav{
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
        width: 100%;
        padding-right: 1rem;
    }

    .textoConferencia{
        width: 50%;
        
        
    }

    .sectionOradores{
        height: 100%;
        padding-top: 5rem;
        
    }
    .padreCards{
        width: 100%;
        height: initial;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5px;
        
    }
    .flex-container{
        justify-content: center;
    }
    

    .convierteteEnOrador{
        padding-top: 1rem;
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        padding: 10px 10px;
    }
    .formularioOrador{
        width: 100%;
        height: initial;
    }

    
    .contenedorFooter{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: space-between;
    }
    .reFooter{
        padding: 5px;
    }
}

/*************************************************************/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .navegacion{
        display:flex;
        width: 75%;
        align-items: center;
        justify-content: center;
    
    }
    .listaNav{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        
    }
    .sectionOradores{
        height: 100%;
        padding-top: 0.5rem;
        
    }
    .padreCards{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5px;
        
    }
    .flex-container{
        justify-content: center;
    }

    .convierteteEnOrador{
        padding-top: 1rem;
        height: 100%;
        width: 80%;
        margin-bottom: 3rem;
        padding: 10px 10px;
    }
    .formularioOrador{
        width: 100%;
        height: initial;
    }


}

/*************************************************************/

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    
    .navegacion{
        display:flex;
        width: 65%;
        align-items: center;
        justify-content: center;
    
    }
    .listaNav{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        
    }

    .sectionOradores{
        height: 100%;
        padding-top: 0.5rem;
        
    }
    .padreCards{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5px;
        
    }
    .flex-container{
        justify-content: center;
    }

    .convierteteEnOrador{
        padding-top: 1rem;
        height: 100%;
        width: 80%;
        margin-bottom: 3rem;
        padding: 10px 10px;
    }
    .formularioOrador{
        width: 100%;
        height: initial;
    }
}
